* {
    margin: 0;
    padding: 0;
}

body {
    margin-left: 20px;
}

h1 {
    font-family: Poppins;
    font-size: 59pt;
    color: #0a2ff1;
    letter-spacing: 17px;
}

strong {
    background-color: #3ffff3;
}

p {
    font-family: Poppins;
    font-size: 23pt;
    color: #0a2ff1;
    letter-spacing: 5.5px;
    padding-top: 60px;
}
#fotos{
   padding-top: 40px;
}
.imagen {
    align-content: center;
    width: 540px;
    height: 750px;
    display: block
}
#celu{
    margin-top: -750px;
}